In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Dictionaries

In [ ]:
comm_names = {
    'Manager Community 7':'Thomassique Community Manager',
    'Entrepreneur Community 7':'Thomassique Entrepreneur Community'
    'Manager Community 8':'Cerca-la-Source Community Manager',
    'Entrepreneur Community 8':'Cerca-la-Source Entrepreneur Community',
    'Manager Community 9':'Mombin Crochus Community Manager',
    'Entrepreneur Community 9':'Mombin Crochus Entrepreneur Community',
    'Manager Community 10':'Pignon Community Manager',
    'Entrepreneur Community 10':'Pignon Entrepreneur Community',
    'Manager Community 11':'Lavictoire Community Manager',
    'Entrepreneur Community 11':'Lavictoire Entrepreneur Community',
    'Manager Community 12':'Hinche Community Manager',
    'Entrepreneur Community 12':'Hinche Entrepreneur Community',
    'Manager Community 13':'Cerca-Carvajal Community Manager',
    'Entrepreneur Community 13':'Cerca-Carvajal Entrepreneur Community',
    'Manager Community 14':'St-Raphael Community Manager',
    'Entrepreneur Community 14':'St-Raphael Entrepreneur Community',
    'Manager Community 15':'St.Michel Community Manager',
    'Entrepreneur Community 15':'St.Michel Entrepreneur Community',
    'Manager Community 16':'Bois De Lorence Community Manager',
    'Entrepreneur Community 16':'Bois De Lorence Entrepreneur Community',
    'Manager Community 18':'Lascahobas Community Manager',
    'Entrepreneur Community 18':'Lascahobas Entrepreneur Community',
    'Manager Community 19':'Dondon Community Manager',
    'Entrepreneur Community 19':'Dondon Entrepreneur Community',
    'Manager Community 20':'Ranquitte Community Manager',
    'Entrepreneur Community 20':'Ranquitte Entrepreneur Community',
    'Manager Community 21':'Jean Denis Community Manager',
    'Entrepreneur Community 21':'Jean Denis Entrepreneur Community',
    'Manager Community 22':'Deschapelle Community Manager',
    'Entrepreneur Community 22':'Deschapelle Entrepreneur Community',
    'Manager Community 23':'Marmelade Community Manager',
    'Entrepreneur Community 23':'Marmelade Entrepreneur Community',
    'Manager Community 25':'Ouanaminthe Community Manager',
    'Entrepreneur Community 25':'Ouanaminthe Entrepreneur Community'
    'Manager Community 26':'Saltadère Community Manager',
    'Entrepreneur Community 26':'Saltadère Entrepreneur Community',
    'Manager Community 28':'Limonade Community Manager',
    'Entrepreneur Community 28':'Limonade Entrepreneur Community',
    'Manager Community 29':'Quartier-morin Community Manager',
    'Entrepreneur Community 29':'Quartier-morin Entrepreneur Community',
    'Manager Community 30':'Plaine du nord Community Manager',
    'Entrepreneur Community 30':'Plaine du nord Entrepreneur Community',
    'Manager Community 32':'Grande Rivière du Nord Community Manager',
    'Entreprneuer Community 32':'Grande Rivière du Nord Entrepreneur Community',
    'Manager Community 33':'Bas-Limbé Community Manager',
    'Entreprneuer Community 33':'Bas-Limbé Entrepreneur Community',
    'Manager Community 34':'Mont-Organisé Community Manager',
    'Entreprneuer Community 34':'Mont-Organisé Entrepreneur Community',
    'Manager Community 35':'Vallières Community Manager',
    'Entreprneuer Community 35':'Vallières Entrepreneur Community',
    'Manager Community 36':'Gonaïves Community Manager'
    'Entreprneuer Community 36':'Gonaïves Entrepreneur Community',
    'Manager Community 37':'Bahon Community Manager',
    'Entreprneuer Community 37':'Bahon Entrepreneur Community'
}

In [ ]:
manager_id = {
    'Manager Community 8':'m',
    'Entrepreneur Community 8':'e',
    'Manager Community 9':'m',
    'Entrepreneur Community 9':'e',
    'Manager Community 10':'m',
    'Entrepreneur Community 10':'e',
    'Manager Community 11':'m',
    'Entrepreneur Community 11':'e',
    'Manager Community 12':'m',
    'Entrepreneur Community 12':'e',
    'Manager Community 13':'m',
    'Entrepreneur Community 13':'e',
    'Manager Community 14':'m',
    'Entrepreneur Community 14':'e',
    'Manager Community 15':'m',
    'Entrepreneur Community 15':'e',
    'Manager Community 16':'m',
    'Entrepreneur Community 16':'e',
    'Manager Community 18':'m',
    'Entrepreneur Community 18':'e',
    'Manager Community 19':'m',
    'Entrepreneur Community 19':'e',
    'Manager Community 20':'m',
    'Entrepreneur Community 20':'e',
    'Manager Community 21':'m',
    'Entrepreneur Community 21':'e',
    'Manager Community 22':'m',
    'Entrepreneur Community 22':'e',
    'Manager Community 23':'m',
    'Entrepreneur Community 23':'e',
    'Manager Community 25':'m',
    'Entrepreneur Community 25':'e'
    'Manager Community 26':'m',
    'Entrepreneur Community 26':'e',
    'Manager Community 28':'m',
    'Entrepreneur Community 28':'e',
    'Manager Community 29':'m',
    'Entrepreneur Community 29':'e',
    'Manager Community 30':'m',
    'Entrepreneur Community 30':'e',
    'Manager Community 32':'m',
    'Entreprneuer Community 32':'e',
    'Manager Community 33':'m',
    'Entreprneuer Community 33':'e',
    'Manager Community 34':'m',
    'Entreprneuer Community 34':'e',
    'Manager Community 35':'m',
    'Entreprneuer Community 35':'e',
    'Manager Community 36':'m'
    'Entreprneuer Community 36':'e',
    'Manager Community 37':'m',
    'Entreprneuer Community 37':'e'
}

In [ ]:
col_names = {
    
}

## Sales Dataframe

In [2]:
sales = pd.read_csv('../data/Trans_TWSupport Sale w. Cash Discount (v15)_1_935.csv')

In [3]:
sales.columns = sales.iloc[0]
sales = sales.iloc[1:, :]
sales.head()

,startDate,endDate,Date,gps x,gps y,Mobile User,non_acht,siyati_acht_a,telefon_natcom_acht_a,buyers_natcom_phone_number_buyers_digice,...,kontra_foto,nimewo_nontra_1,kod_pwodwi_a,cash_discount_1,are_you_going_to_pay_in_full_now,loan_name,deposit_amount_expected,montan_depoze_deposit_amount,payment_expected,cash_payment_amount
1,2022-01-12 11:06:28-0600,2022-01-12 11:06:45-0600,2022-01-12,NaN,NaN,UC TaroWorks Admin,S,S,NaN,NaN,...,NaN,NaN,NaN,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,S - Antreprenè Sistèm Filtraj ak Pye / Entrepr...,NaN,NaN,2900.0,2900.0
2,2022-01-12 11:08:42-0600,2022-01-12 11:10:28-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Markenson,Toussaint,40573348,NaN,...,https://unlockingcommunities.my.salesforce.com...,01627,6473,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0
3,2022-01-12 11:15:31-0600,2022-01-12 11:17:01-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Ghislaine,Myrthil,43564343,NaN,...,https://unlockingcommunities.my.salesforce.com...,01625,6427,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Myrthil - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
4,2022-01-12 11:17:45-0600,2022-01-12 11:19:08-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Nastal,Gabriel,35235271,NaN,...,https://unlockingcommunities.my.salesforce.com...,01626,6426,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Gabriel - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
5,2022-01-12 11:19:47-0600,2022-01-12 11:20:49-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Sonias,Toussaint,42860885,NaN,...,https://unlockingcommunities.my.salesforce.com...,01621,6623,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0

In [4]:
sales['startDate'] = pd.to_datetime(sales['startDate'], format='%Y-%m-%d')
sales['startDate']

1     2022-01-12 11:06:28-06:00
2     2022-01-12 11:08:42-06:00
3     2022-01-12 11:15:31-06:00
4     2022-01-12 11:17:45-06:00
5     2022-01-12 11:19:47-06:00
                 ...
931   2022-04-28 14:04:40-06:00
932   2022-04-28 14:06:30-06:00
933   2022-04-28 14:08:07-06:00
934   2022-04-29 09:23:02-06:00
935   2022-04-29 11:37:42-06:00
Name: startDate, Length: 935, dtype: datetime64[ns, pytz.FixedOffset(-360)]

In [5]:
sales['endDate'] = pd.to_datetime(sales['endDate'], format='%Y-%m-%d')
sales['endDate']

1     2022-01-12 11:06:45-06:00
2     2022-01-12 11:10:28-06:00
3     2022-01-12 11:17:01-06:00
4     2022-01-12 11:19:08-06:00
5     2022-01-12 11:20:49-06:00
                 ...
931   2022-04-28 14:06:21-06:00
932   2022-04-28 14:07:57-06:00
933   2022-04-28 14:09:36-06:00
934   2022-04-29 09:24:22-06:00
935   2022-04-29 11:41:21-06:00
Name: endDate, Length: 935, dtype: datetime64[ns, pytz.FixedOffset(-360)]

In [24]:
sales.shape

(935, 44)

In [6]:
sales['Mobile User'].value_counts()

Fenson Cherenfant            355
Entrepreneur Community 25    134
Manager Community 10          72
Ernso Sylvain                 59
Manager Community 36          43
Entrepreneur Community 11     29
Entreprneuer Community 34     19
Entrepreneur Community 30     19
Entrepreneur Community 20     19
Entreprneuer Community 37     18
Manager Community 29          16
Manager Community 25          14
Manager Community 27          13
Manager Community 32          13
Entreprneuer Community 36     11
Manager Community 26          10
Entrepreneur Community 28     10
Mobile Test                   10
Manager Community 34           8
Bedrige Pierre                 7
Entrepreneur Community 24      7
Entrepreneur Community 26      6
Manager Community 35           6
Entrepreneur Community 22      5
Manager Community 22           4
Manager Community 9            4
Entrepreneur Community 29      3
Entrepreneur Community 27      3
Manager Community 33           3
Entrepreneur Community 16      3
Entrepreneur Community 14      3
UC TaroWorks Admin             2
Entreprneuer Community 35      2
Manager Community 28           2
Manager Community 37           2
Manager Community 24           1
Name: Mobile User, dtype: int64

In [64]:
sales['product_name'].value_counts()

Sistèm Filtraj ak Pye / Filter                            567
Recho / Stove                                             217
Antreprenè Sistèm Filtraj ak Pye / Entrepreneur Filter    147
Filtre / Filter                                             4
Name: product_name, dtype: int64

In [11]:
total_sales = sales[['Mobile User', 'deposit_amount_expected', 'montan_depoze_deposit_amount',
                     'payment_expected', 'cash_payment_amount']]
total_sales.head()

,Mobile User,deposit_amount_expected,montan_depoze_deposit_amount,payment_expected,cash_payment_amount
1,UC TaroWorks Admin,NaN,NaN,2900.0,2900.0
2,Fenson Cherenfant,NaN,NaN,2900.0,2900.0
3,Fenson Cherenfant,NaN,NaN,2900.0,2900.0
4,Fenson Cherenfant,NaN,NaN,2900.0,2900.0
5,Fenson Cherenfant,NaN,NaN,2900.0,2900.0

In [20]:
total_sales.shape

(935, 5)

In [19]:
# sales.to_json('../data/sales_in_json')

## Loans Dataframe

In [7]:
loans = pd.read_csv('../data/TWSupport Loan Repayments (v5)_1_2426.csv')

In [8]:
loans.columns = loans.iloc[0]
loans = loans.iloc[1:, :]
loans.head()

,startDate,endDate,Date,gps x,gps y,Mobile User,loan_id,transaction_id,amount_owed,montan_peman_an_amount_paid,date_of_transaction,currency,status_1
1,2021-03-10 04:24:01-0600,2021-03-10 04:24:18-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-1121,T-12422,625,500,2021-03-10,HTG,Processed
2,2021-03-10 04:24:17-0600,2021-03-10 04:24:35-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0136,T-1332,500,500,2021-03-10,HTG,Processed
3,2021-03-10 04:25:09-0600,2021-03-10 04:25:49-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,500,2021-03-10,HTG,Processed
4,2021-03-10 04:25:10-0600,2021-03-10 04:25:30-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0443,T-4253,625,625,2021-03-10,HTG,Processed
5,2021-03-10 04:27:11-0600,2021-03-10 04:27:23-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,625,2021-03-10,HTG,Processed

In [9]:
loans.shape

(2426, 13)

In [10]:
loans['Mobile User'].value_counts()

Bedrige Pierre               680
Fenson Cherenfant            445
Manager Community 10         286
Manager Community 20         220
Entrepreneur Community 20    170
Entrepreneur Community 16    167
Entrepreneur Community 11    131
Manager Community 15          69
Hinche Office                 44
Entrepreneur Community 9      39
Hinche Intern 3               34
Entrepreneur Community 10     33
Entrepreneur Community 19     28
Entrepreneur Community 14     24
Entrepreneur Community 8      12
Mobile Test                    6
Entreprneuer Community 37      4
UC TaroWorks Admin             4
Manager Community 36           2
Entreprneuer Community 36      2
Manager Community 9            2
Manager Community 24           2
Entreprneuer Community 34      2
Manager Community 22           2
Manager Community 34           2
Entrepreneur Community 26      2
Entrepreneur Community 12      2
Manager Community 31           1
Entrepreneur Community 29      1
Manager Community 33           1
Entreprneuer Community 33      1
Manager Community 16           1
Ernso Sylvain                  1
Manager Community 7            1
Manager Community 28           1
Entrepreneur Community 28      1
Entrepreneur Community 24      1
Entrepreneur Community 27      1
Entrepreneur Community 25      1
Name: Mobile User, dtype: int64

In [39]:
loans['startDate'] = pd.to_datetime(loans['startDate'], format='%Y-%m-%d')
loans['startDate']

1      2021-03-10 04:24:01-06:00
2      2021-03-10 04:24:17-06:00
3      2021-03-10 04:25:09-06:00
4      2021-03-10 04:25:10-06:00
5      2021-03-10 04:27:11-06:00
                  ...
2422   2022-04-29 11:36:15-06:00
2423   2022-04-29 11:44:14-06:00
2424   2022-04-29 11:45:34-06:00
2425   2022-04-29 11:46:45-06:00
2426   2022-04-29 11:57:26-06:00
Name: startDate, Length: 2426, dtype: datetime64[ns, pytz.FixedOffset(-360)]

In [40]:
loans['endDate'] = pd.to_datetime(loans['endDate'], format='%Y-%m-%d')
loans['endDate']

1      2021-03-10 04:24:18-06:00
2      2021-03-10 04:24:35-06:00
3      2021-03-10 04:25:49-06:00
4      2021-03-10 04:25:30-06:00
5      2021-03-10 04:27:23-06:00
                  ...
2422   2022-04-29 11:36:30-06:00
2423   2022-04-29 11:44:30-06:00
2424   2022-04-29 11:45:46-06:00
2425   2022-04-29 11:47:02-06:00
2426   2022-04-29 11:57:45-06:00
Name: endDate, Length: 2426, dtype: datetime64[ns, pytz.FixedOffset(-360)]

### DF using only loans and user

In [12]:
total_loans = loans[['Mobile User', 'amount_owed', 'montan_peman_an_amount_paid']]
total_loans.head()

0                Mobile User amount_owed montan_peman_an_amount_paid
1  Entrepreneur Community 10         625                         500
2  Entrepreneur Community 10         500                         500
3  Entrepreneur Community 10         625                         500
4  Entrepreneur Community 10         625                         625
5  Entrepreneur Community 10         625                         625

In [21]:
total_loans.shape

(2426, 3)

### Trying to separate loans by year

In [42]:
loans_2021 = loans[loans['startDate'].dt.year == 2021]
loans_2021.shape

(2129, 13)

In [45]:
loans_2021

,startDate,endDate,Date,gps x,gps y,Mobile User,loan_id,transaction_id,amount_owed,montan_peman_an_amount_paid,date_of_transaction,currency,status_1
1,2021-03-10 04:24:01-06:00,2021-03-10 04:24:18-06:00,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-1121,T-12422,625,500,2021-03-10,HTG,Processed
2,2021-03-10 04:24:17-06:00,2021-03-10 04:24:35-06:00,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0136,T-1332,500,500,2021-03-10,HTG,Processed
3,2021-03-10 04:25:09-06:00,2021-03-10 04:25:49-06:00,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,500,2021-03-10,HTG,Processed
4,2021-03-10 04:25:10-06:00,2021-03-10 04:25:30-06:00,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0443,T-4253,625,625,2021-03-10,HTG,Processed
5,2021-03-10 04:27:11-06:00,2021-03-10 04:27:23-06:00,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,625,2021-03-10,HTG,Processed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,2021-12-25 13:24:51-06:00,2021-12-25 13:25:06-06:00,2021-12-25,NaN,NaN,Manager Community 10,L-0461,T-4415,1250,1250,2021-12-25,HTG,Processed
2126,2021-12-25 13:26:09-06:00,2021-12-25 13:26:36-06:00,2021-12-25,NaN,NaN,Manager Community 10,L-2000,T-28040,1350,1350,2021-12-25,HTG,Processed
2127,2021-12-25 13:27:15-06:00,2021-12-25 13:27:28-06:00,2021-12-25,NaN,NaN,Manager Community 10,L-2000,T-28041,1350,1150,2021-12-25,HTG,Processed
2128,2021-12-29 17:00:18-06:00,2021-12-29 17:02:40-06:00,2021-12-29,NaN,NaN,Entrepreneur Community 16,L-2099,T-32008,1000,500,2021-12-29,HTG,Processed
2129,2021-12-30 20:12:33-06:00,2021-12-30 20:12:48-06:00,2021-12-30,NaN,NaN,Entrepreneur Community 16,L-0732,T-7286,1000,1000,2021-12-30,HTG,Processed

In [51]:
# Year 2021 Quarter 1
loans_2021_q1 = loans_2021[loans_2021['startDate'].dt.quarter == 1]
loans_2021_q1.shape

(18, 13)

In [59]:
loans_2021_q1['Mobile User'].value_counts()

Entrepreneur Community 10    18
Name: Mobile User, dtype: int64

In [52]:
# Year 2021 Quarter 2
loans_2021_q2 = loans_2021[loans_2021['startDate'].dt.quarter == 2]
loans_2021_q2.shape

(57, 13)

In [58]:
loans_2021_q2['Mobile User'].value_counts()

Entrepreneur Community 11    42
Entrepreneur Community 14     5
Entrepreneur Community 16     5
Manager Community 10          5
Name: Mobile User, dtype: int64

In [53]:
# Year 2021 Quarter 3
loans_2021_q3 = loans_2021[loans_2021['startDate'].dt.quarter == 3]
loans_2021_q3.shape

(1475, 13)

In [56]:
loans_2021_q3['Mobile User'].value_counts()

Bedrige Pierre               337
Fenson Cherenfant            335
Manager Community 10         156
Manager Community 20         139
Entrepreneur Community 16    138
Entrepreneur Community 20    128
Entrepreneur Community 11     68
Hinche Office                 44
Entrepreneur Community 9      39
Hinche Intern 3               34
Entrepreneur Community 19     27
Entrepreneur Community 14     19
UC TaroWorks Admin             4
Manager Community 22           2
Entrepreneur Community 12      2
Manager Community 9            2
Mobile Test                    1
Name: Mobile User, dtype: int64

In [54]:
# Year 2021 Quarter 2
loans_2021_q4 = loans_2021[loans_2021['startDate'].dt.quarter == 4]
loans_2021_q4.shape

(579, 13)

In [57]:
loans_2021_q4['Mobile User'].value_counts()

Bedrige Pierre               238
Fenson Cherenfant             91
Manager Community 10          83
Manager Community 20          80
Entrepreneur Community 20     35
Entrepreneur Community 16     22
Entrepreneur Community 10     15
Entrepreneur Community 8      12
Manager Community 7            1
Entrepreneur Community 11      1
Entrepreneur Community 19      1
Name: Mobile User, dtype: int64

In [43]:
loans_2022 = loans[loans['startDate'].dt.year == 2022]
loans_2022.shape

(297, 13)

In [60]:
# Year 2022 Quarter 1
loans_2022_q1 = loans_2022[loans_2022['startDate'].dt.quarter == 1]
loans_2022_q1.shape

(240, 13)

In [62]:
loans_2022_q1['Mobile User'].value_counts()

Bedrige Pierre               94
Manager Community 15         69
Manager Community 10         24
Entrepreneur Community 11    20
Fenson Cherenfant            10
Entrepreneur Community 20     4
Manager Community 24          2
Manager Community 34          2
Entreprneuer Community 34     2
Entrepreneur Community 26     2
Entrepreneur Community 24     1
Manager Community 31          1
Entrepreneur Community 28     1
Manager Community 28          1
Entrepreneur Community 27     1
Manager Community 16          1
Manager Community 20          1
Entrepreneur Community 29     1
Entreprneuer Community 37     1
Entreprneuer Community 33     1
Manager Community 33          1
Name: Mobile User, dtype: int64

In [61]:
# Year 2022 Quarter 2
loans_2022_q2 = loans_2022[loans_2022['startDate'].dt.quarter == 2]
loans_2022_q2.shape

(57, 13)

In [63]:
loans_2022_q2['Mobile User'].value_counts()

Manager Community 10         18
Bedrige Pierre               11
Fenson Cherenfant             9
Mobile Test                   5
Entreprneuer Community 37     3
Entrepreneur Community 20     3
Entrepreneur Community 16     2
Entreprneuer Community 36     2
Manager Community 36          2
Entrepreneur Community 25     1
Ernso Sylvain                 1
Name: Mobile User, dtype: int64

### Attempt to merge the Total sales and loans

In [29]:
total_sales_and_loans = pd.merge(total_loans, total_sales, how='inner')

In [30]:
total_sales_and_loans.head()

,Mobile User,amount_owed,montan_peman_an_amount_paid,deposit_amount_expected,montan_depoze_deposit_amount,payment_expected,cash_payment_amount
0,Entrepreneur Community 11,500,500,NaN,NaN,3500.0,3500.0
1,Entrepreneur Community 11,500,500,NaN,NaN,3500.0,3500.0
2,Entrepreneur Community 11,500,500,NaN,NaN,3500.0,3500.0
3,Entrepreneur Community 11,500,500,NaN,NaN,3500.0,3500.0
4,Entrepreneur Community 11,500,500,NaN,NaN,3500.0,3500.0

In [31]:
total_sales_and_loans['Mobile User'].value_counts()

Fenson Cherenfant            157975
Manager Community 10          20592
Bedrige Pierre                 4760
Entrepreneur Community 11      3799
Entrepreneur Community 20      3230
Entrepreneur Community 16       501
Entrepreneur Community 25       134
Manager Community 36             86
Entreprneuer Community 37        72
Entrepreneur Community 14        72
Mobile Test                      60
Ernso Sylvain                    59
Entreprneuer Community 34        38
Entreprneuer Community 36        22
Manager Community 34             16
Entrepreneur Community 26        12
Entrepreneur Community 28        10
UC TaroWorks Admin                8
Manager Community 22              8
Manager Community 9               8
Entrepreneur Community 24         7
Entrepreneur Community 27         3
Entrepreneur Community 29         3
Manager Community 33              3
Manager Community 24              2
Manager Community 28              2
Name: Mobile User, dtype: int64

In [32]:
total_sales_and_loans.shape

(191482, 7)

# By Product

## Water Filter

In [68]:
water_filter_cash = sales[sales['product_name'] == 'Sistèm Filtraj ak Pye / Filter']
water_filter_cash['Mobile User'].value_counts()

Fenson Cherenfant            221
Entrepreneur Community 25    105
Ernso Sylvain                 45
Manager Community 36          35
Entreprneuer Community 37     16
Manager Community 10          16
Entrepreneur Community 30     14
Entrepreneur Community 11     12
Manager Community 29          12
Manager Community 25          11
Manager Community 32           9
Manager Community 35           6
Entrepreneur Community 28      6
Entrepreneur Community 22      5
Entrepreneur Community 26      5
Bedrige Pierre                 5
Entreprneuer Community 34      5
Manager Community 22           4
Mobile Test                    4
Manager Community 34           3
Manager Community 9            3
Entrepreneur Community 14      3
Entrepreneur Community 16      3
Entrepreneur Community 20      3
Entrepreneur Community 29      2
Entrepreneur Community 27      2
Entreprneuer Community 35      2
Manager Community 28           2
Entreprneuer Community 36      2
Manager Community 33           2
UC TaroWorks Admin             1
Manager Community 24           1
Manager Community 27           1
Entrepreneur Community 24      1
Name: Mobile User, dtype: int64

In [70]:
entrepreneur_filter_cash = sales[sales['product_name'] == 'Antreprenè Sistèm Filtraj ak Pye / Entrepreneur Filter']
entrepreneur_filter_cash['Mobile User'].value_counts()

Fenson Cherenfant            73
Manager Community 27         12
Entrepreneur Community 25    12
Manager Community 26         10
Entreprneuer Community 34     9
Entreprneuer Community 36     8
Entrepreneur Community 24     6
Manager Community 34          3
Entrepreneur Community 30     3
Manager Community 36          2
Mobile Test                   2
Manager Community 29          1
Manager Community 9           1
Entreprneuer Community 37     1
Manager Community 37          1
Entrepreneur Community 26     1
Ernso Sylvain                 1
UC TaroWorks Admin            1
Name: Mobile User, dtype: int64

In [71]:
stove_cash = sales[sales['product_name'] == 'Recho / Stove']
stove_cash['Mobile User'].value_counts()

Fenson Cherenfant            59
Manager Community 10         56
Entrepreneur Community 25    17
Entrepreneur Community 11    17
Entrepreneur Community 20    16
Ernso Sylvain                13
Manager Community 36          6
Entreprneuer Community 34     5
Manager Community 32          4
Entrepreneur Community 28     4
Mobile Test                   4
Manager Community 29          3
Manager Community 25          3
Entrepreneur Community 30     2
Manager Community 34          2
Entreprneuer Community 36     1
Entrepreneur Community 29     1
Manager Community 37          1
Entreprneuer Community 37     1
Entrepreneur Community 27     1
Manager Community 33          1
Name: Mobile User, dtype: int64

# Export to PostgresSQL

In [72]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://localhost:5432/iaapi')

connection = engine.connect()

sales.to_sql('cash_sales_data', connection, if_exists='replace', index=False, chunksize=10)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
import psycopg2 #import the postgres library
from datetime import datetime

# Create while loop to keep running: 
# while True:

#connect to the database
conn = psycopg2.connect(host='127.0.0.1',
                       dbname='iaapi',
                       user='haziqnaeem',
#                        password='****',
                       port='5432')  
#create a cursor object 
#cursor object is used to interact with the database
cur = conn.cursor()

#create table with same headers as csv file
for j, i in df[[list_of_columns]].iterrows():
     cur.execute("""
     INSERT INTO table (column_name, column_name, column_name)
     VALUES (%s, %s, %s);
     """,
     (i[column_1], i[column_2], i[column_3])) # insert the table that we want from the csv


#Commit Changes
conn.commit()
#Close connection
conn.close()
    
    
# # add a sleep function: 
# if datetime.now() % 3600 == 0:
#     # run SQL querry
# # else:
#     # Pass